.btn{
    padding: 2px;

}
body{
    background-color:burlywood;
    font-size: 20px;
    color: ghostwhite;
}
button{
    margin:  5px;
    background-color: cornsilk;
}
thead{
    background-color:grey;
}
tbody{
    background-color: darkgrey;
}
.signin{
    width: 300px;
    margin-right: 150px;
    margin: 200px;
}